body{
    background-color: #f4f4f4;
    color: #555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    margin: auto;
    width: 80%;
    overflow: hidden;
}

#boxes{
    display: flex;
    margin: auto;
    width: 80%;
    overflow: hidden;
    justify-content: center;
}

#main-header{
    background-color: black;
    color: white;
    text-shadow: #555;
    padding: 15px;
    text-align: left;
}

#main-header h1{
    padding-left: 10%;
}

#navbar{
    background-color: #333;
    color: white;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 15px;
}

#navbar a:hover {
    color: orange;
  }

#navbar a:active {
    color: orange;
}

#showcase{
    background-image: url('images/showcase.jpg');
    min-height: 250px;
    background-position: center right;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: white;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
    text-shadow: 2px 2px #333;
}

#showcase-small{
    background-image: url('images/showcase.jpg');
    min-height: 150px;
    background-position: center right;
    margin-bottom: 30px;
    text-align: center;
}

#showcase-small h1{
    color: white;
    font-size: 50px;
    line-height: 1.6em;
    text-shadow: 2px 2px #333;
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    padding: 0 10px;
    box-sizing: border-box;
}

#sidebar ul{
    list-style: none;
    border: 1px #555;
    padding-left: 0;
}

#sidebar li{
    border-radius: 0%;
    width: 70%;
    background: #e6e6e6;
    margin-bottom: 8px;
    padding: 3px;
    text-align: right;
}

.box{
    display: flex;
    padding: 10px;
    min-width: 400px;
    border: 1px lightgray solid;
    margin: 3px;
    justify-content: center;
    align-items: center;
}

.box-link{
    text-decoration: none;
}

.box-link :hover{
    background-color:orange;
}

.box img{
    width: 60px;
}

.box h3{
    text-align: center;
    font-size: 24px;
    color: #333;
    text-shadow: 2px 2px lightgray;
}

.mini-box-1{
    flex: 1;
    margin-left: 20px;
}

.mini-box-2{
    flex: 5;
}

#main-footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media(max-width: 600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}

@media(max-width: 1200px){
    #boxes{
        flex-direction: column;
    }
}