:root {
    --accent1: #0c0032;
    --accent2: #4b6b25;
    --accent3: #61892F;
    --accent4: #86C232;
    --accent5: #a0e93a;
}

.text-accent1 {
    color: var(--accent3);
}

.text-accent2 {
    color: var(--accent4);
}

body {
    background-color: #222629;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    margin: auto;
    width: 80%;
    overflow: hidden;
}

.container-2 {
    display: flex;
    margin: auto;
    width: 60%;
    overflow: hidden;
}

.container-3 {
    display: flex;
    margin: auto;
    width: 80%;
    overflow: hidden;
}

/*ICON MODIFICATIONS*/

.fab, .fas, .far {
    font-size: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.fa-airbnb, .fa-ruler-horizontal, .fa-file-code, .fa-ellipsis-h, .fa-medal, .fa-briefcase, .fa-cogs, .fa-book {
    color: var(--accent3);
    font-size: 55px;
}

.fa-linkedin {
    color: rgb(102, 181, 255);
}

.fa-envelope-open-text, .fa-phone {
    color: white;
}

a {
    text-decoration: none;
}

#boxes {
    display: flex;
    margin: auto;
    width: 80%;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.main-header {
    background-color: #0f1113;
    color: white;
    padding: 10px;
    text-align: left;
}

.main-header h1 {
    padding-left: 10%;
    text-shadow: 4px #4b6b25;
}

.page-title {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 130px;
}

.navbar {
    background-color: #15181a;
    color: white;
}

.navbar ul {
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 15px;
    transition: 0.2s ease-in-out;
}

.navbar a:hover {
    color: var(--accent3);
    transition: 0.2s ease-in-out;
}

.navbar a:active {
    color: var(--accent4)
}

.navbar .curr-nav {
    font-weight: 700;
    color: var(--accent4)
}

#showcase {
    background-image: url('images/showcase2.jpg');
    background-size: cover;
    min-height: 230px;
    background-position: center right;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1 {
    color: white;
    font-size: 65px;
    line-height: 1.6em;
    padding-top: 0px;
    text-shadow: 3px 3px #333;
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    padding: 0 10px;
    box-sizing: border-box;
}

#sidebar ul {
    list-style: none;
    border: 1px #555;
    padding-left: 0;
}

#sidebar li {
    border-radius: 0%;
    width: 100%;
    background: var(--accent2);
    margin-bottom: 8px;
    padding: 3px;
    text-align: right;
    opacity: 50%;
    transition: 0.3s;
}

#sidebar li:hover {
    background-color: var(--accent3);
    transition: 0.3s ease-in-out;
    opacity: 100%;
}

.box {
    display: flex;
    padding: 10px;
    min-width: 400px;
    border: 1px lightgray solid;
    margin: 3px;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
}

.list-container {
    flex: 1;
    display: flex;
    margin: auto;
    width: 80%;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
}

.list-item {
    display: flex;
    padding: 10px;
    border: 1px lightgray solid;
    margin: 3px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    min-width: 320px;
    transition: 0.2s ease-in-out;
}

.list-item-2 {
    display: flex;
    padding: 10px;
    margin: 3px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.list-item-2 img {
    padding-left: 50px;
    padding-right: 50px;
}

.list-item h3 {
    text-align: center;
    font-size: 24px;
    color: rgb(214, 214, 214);
}

.list-item img {
    padding-left: 50px;
    padding-right: 50px;
}

.list-item h1 {
    font-size: 1.75em;
    padding-right: 50px;
    transition: 0.2s ease-in-out;
}

.list-item:hover {
    background-color: var(--accent3);
    transition: 0.2s ease-in-out;
}

li {
    list-style: none;
}

.plus {
    order: 2;
    margin-left: auto;
}

.accordion {
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 10px;
}

.accordion h1 {
    font-size: 1.7em;
}

.accordion:hover {
    background-color: rgb(75, 75, 75);
}

.list-item-2::after {
    content: "\25BE";
    font-size: 3em;
    transition: transform 0.1s ease-in-out;
    position: sticky;
}

.list-item-2.active::after {
    transform: rotate(180deg);
}

.panel {
    padding: 0 18px;
    background-color: #1d1d1d;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    transition: ease-in-out 0.3s;
    opacity: 100%;
}

#photos img:hover {
    transition: ease-in-out 0.15s;
    opacity: 50%;
}

div.desc {
    padding: 10px;
    text-align: right;
    font-size: 0.8em;
}

.main-footer {
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.main-footer p {
    margin: 3px;
}

@media(max-width: 600px) {
    #main {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
    .container {
        width: 95%;
    }
    body {
        font-size: 23px;
    }
    .accordion h1{
        font-size: 17px;
    }
    .list-item-2 h1{
        padding-right: 5px;
    }


    
}

@media(max-width: 1200px) {
    #boxes {
        flex-direction: column;
    }
    .contact-container {
        flex-direction: column;
    }
    .container {
        width: 95%;
    }
    .container-2 {
        width: 85%;
        padding-bottom: 0;
    }
    .list-container {
        width: 95%;
    }

    .list-container ul{
        padding-left: 0;
    }

    .main-header h1 {
        font-size: 1.8em;
        padding-left: 0;
    }
    .main-header{
        text-align: center;
    }
    .navbar{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .navbar a{
        padding-right: 8px;
    }
    .container-2 h1{
        font-size: 1.4em;
    }
    .main-footer {
        display: none;
    }
}